<%- include('partials/header_2.ejs') %>
  <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div
      class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h1 class="h2">Customers</h1>
      <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group me-2">
          <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
          <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
        </div>
      </div>
    </div>

    <div class="table-responsive small">
      <table class="table table-striped table-sm">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">User ID</th>
            <th scope="col">Email</th>
            <th scope="col">Phone No</th>
            <th scope="col">Address</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <% if(locals.customers){ %>
              <% customers.forEach(item=> { %>
                <td>
                  <%=item.username %>
                </td>
                <td>
                  <%=item._id %>
                </td>
                <td>
                  <%=item.email %>
                </td>
                <td>
                  <%=item.phone %>
                </td>
                <td>
                  <%=item.address %>
                </td>
                <td>
                  <!-- Replace "Remove" button with a form -->
                  <form method="POST" action="/delete_user/<%= item._id %>">
                    <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                  </form>
                </td>
          </tr>
          <% }); %>
            <% } %>
        </tbody>
      </table>
      <div class="d-flex justify-content-center">
        <div class="col-md-3">
          <a class="btn btn-dark btn-block" href="/add_customer">Add Customer</a>
        </div>
      </div>
    </div>
  </main>
  </div>
  </div>
  <script>
    let change = document.querySelector("#toggleButton");
    let change_icon1 = document.querySelector("#sunny");
    let change_icon2 = document.querySelector("#moon");

    function changeTheme() {
      let element = document.body;
      element.dataset.bsTheme = element.dataset.bsTheme == "light" ? "dark" : "light";
    }

    change.addEventListener("click", () => {

      changeTheme();

      if (document.body.getAttribute("data-bs-theme") !== "light") {
        change_icon1.classList.add("change_icon");
        change_icon2.classList.remove("change_icon");
        change.classList.add("on");
      } else {
        change_icon1.classList.remove("change_icon");
        change_icon2.classList.add("change_icon");
        change.classList.remove("on");
      }
    });

  </script>

  </html>