<%- include('partials/header.ejs', {user}) %>
  <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div
      class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h1 class="h2">Dashboard</h1>
      <div class="btn-toolbar mb-2 mb-md-0">
        <!-- <div class="btn-group me-2">
          <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
          <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
        </div> -->
        <a type="button" href="/get_data/currentWeek"
          class="btn btn-sm btn-outline-secondary d-flex align-items-center gap-1">
          <svg class="bi">
            <use xlink:href="#calendar3" />
          </svg>
          This week
        </a>
      </div>
    </div>
    <!-- <canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas> -->

    <div class="container text-center">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 mb-3">

        <div class="col">
          <div class="card">
            <!-- <div class="card-header">Today's Order</div> -->
            <div class="card-body">
              <h5 class="card-title">Today's Order(s)</h5>
              <p class="card-text display-4 fw-semibold text-primary-emphasis">
                <% if (locals.todayCount !==undefined && locals.todayCount> 0) { %>
                  <%= todayCount %>
                    <% } else { %>
                      0
                      <% } %>
              </p>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card">
            <!-- <div class="card-header">Total Orders</div> -->
            <div class="card-body">
              <h5 class="card-title">Total Orders</h5>
              <p class="card-text display-4 text-primary-emphasis fw-semibold">
                <%if(locals.count){%>
                  <%= count %>
                    <%}%>
              </p>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card">
            <!-- <div class="card-header">Pending</div> -->
            <div class="card-body">
              <h5 class="card-title">Pending</h5>
              <p class="card-text display-4 text-primary-emphasis fw-semibold">
                <% if (locals.pendingOrders !==undefined && locals.pendingOrders> 0) { %>
                  <%= pendingOrders %>
                    <% } else { %>
                      0
                      <% } %>
              </p>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card">
            <!-- <div class="card-header">Accepted</div> -->
            <div class="card-body">
              <h5 class="card-title">Accepted</h5>
              <p class="card-text display-4 text-primary-emphasis fw-semibold">
                <% if (locals.approvedOrders !==undefined && locals.approvedOrders> 0) { %>
                  <%= approvedOrders %>
                    <% } else { %>
                      0
                      <% } %>
              </p>
            </div>
          </div>
        </div>

      </div>
    </div>

    <h2>Recent Orders</h2>
    <div class="table-responsive small">
      <table class="table table-striped table-sm">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Product ID</th>
            <th scope="col">Category</th>
            <th scope="col">Specification</th>
            <th scope="col">Department</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <% if(locals.recent){ %>
              <% recent.forEach(item=> { %>
                <td>
                  <%=item.product_name %>
                </td>
                <td>
                  <%=item.product_key %>
                </td>
                <td>
                  <%=item.category %>
                </td>
                <td>
                  <%=item.specification %>
                </td>
                <td>
                  <%= item.department %>
                </td>
          </tr>
          <% }); %>
            <% } %>
        </tbody>
      </table>
    </div>
  </main>
  </div>
  </div>
  <script>

    $(window).on('scroll', function () {

      if ($('body').scrollTop() >= $('.navbar').position().top) {
        $('.navbar').css("margin", "5px");
        $('.navbar').css("border-radius", "10px");
      } else {
        $('.navbar').css("margin", "0px");
        $('.navbar').css("border-radius", "0px");
      }
    });

  </script>
  <script src="/assets/theme.js"></script>
  </body>

  </html>