<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IMS | Dashboard</title>
    <!-- ======= Styles ====== -->
    <link rel="stylesheet" href="/styles/data.css">
</head>

<body>
    <!-- =============== Navigation ================ -->
    <div class="container">
        <div class="navigation">
            <ul>
                <li>
                    <a href="#">
                        <span class="icon">
                            <!-- <ion-icon name="logo-apple"></ion-icon> -->
                        </span>
                        <span class="title">IMS</span>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <span class="icon">
                            <ion-icon name="home-outline"></ion-icon>
                        </span>
                        <span class="title">Dashboard</span>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <span class="icon">
                            <ion-icon name="people-outline"></ion-icon>
                        </span>
                        <span class="title">Customers</span>
                    </a>
                </li>

                <li>
                    <a href="/add">
                        <span class="icon">
                            <ion-icon name="chatbubble-outline"></ion-icon>
                        </span>
                        <span class="title">Add Items</span>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <span class="icon">
                            <ion-icon name="help-outline"></ion-icon>
                        </span>
                        <span class="title">Help</span>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <span class="icon">
                            <ion-icon name="settings-outline"></ion-icon>
                        </span>
                        <span class="title">Settings</span>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <span class="icon">
                            <ion-icon name="lock-closed-outline"></ion-icon>
                        </span>
                        <span class="title">Password</span>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <span class="icon">
                            <ion-icon name="log-out-outline"></ion-icon>
                        </span>
                        <span class="title">Sign Out</span>
                    </a>
                </li>
            </ul>
        </div>

        <!-- ========================= Main ==================== -->
        <div class="main">
            <div class="topbar">
                <div class="toggle">
                    <ion-icon name="menu-outline"></ion-icon>
                </div>

                <div class="search">
                    <form action="/get_data/data/search" method="GET">
                      <label>
                        <input type="text" placeholder="Search here" name="search">
                        <ion-icon name="search-outline"></ion-icon>
                      </label>
                    </form>
                  </div>

                <div class="user">
                    <img src="/assets/imgs/customer01.jpg" alt="">
                </div>
            </div>

            <!-- ================ Order Details List ================= -->
            <div class="details">
                <div class="recentOrders">
                    <h2>All Orders</h2>
                    <!-- <div class="cardHeader">
                    </div> -->

                    <table>
                        <thead>
                            <tr>
                                <td>Name</td>
                                <td>Product Id</td>
                                <td>Category</td>
                                <td>Specification</td>
                                <td>Date/Time</td>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td>
                                    <% if(locals.data){ %>

                                        <% data.forEach(item => { %>
                                            <tr>
                                                <td>
                                                    <%= item.product_name %>
                                                </td>
                                                <td>
                                                    <%= item.product_key %>
                                                </td>
                                                <td>
                                                    <%= item.category %>
                                                </td>
                                                <td>
                                                    <%= item.specification %>
                                                </td>
                                                <td>
                                                    <%= item.createdAt %>
                                                </td>
                                            </tr>
                                          <% }); %>
                                    <% } else if (locals.results) { %>
                                        <% results.forEach(item => { %>
                                            <tr>
                                                <td>
                                                    <%= item.product_name %>
                                                </td>
                                                <td>
                                                    <%= item.product_key %>
                                                </td>
                                                <td>
                                                    <%= item.category %>
                                                </td>
                                                <td>
                                                    <%= item.specification %>
                                                </td>
                                                <td>
                                                    <%= item.createdAt %>
                                                </td>
                                            </tr>
                                        <% }); }%>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- =========== Scripts =========  -->
    <script src="/assets/main.js"></script>

    <!-- ====== ionicons ======= -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</body>

</html>