<%- include('partials/header.ejs') %>

            <!-- ================ Order Details List ================= -->
            <div class="details">
                <div class="recentOrders">
                    <h2>All Orders</h2>
                    <!-- <div class="cardHeader">
                    </div> -->

                    <table>
                        <thead>
                            <tr>
                                <td>Name</td>
                                <td>Product Id</td>
                                <td>Category</td>
                                <td>Specification</td>
                                <td>Date/Time</td>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td>
                                    <% if(locals.data){ %>

                                        <% data.forEach(item => { %>
                                            <tr>
                                                <td>
                                                    <%= item.product_name %>
                                                </td>
                                                <td>
                                                    <%= item.product_key %>
                                                </td>
                                                <td>
                                                    <%= item.category %>
                                                </td>
                                                <td>
                                                    <%= item.specification %>
                                                </td>
                                                <td>
                                                    <%= item.createdAt %>
                                                </td>
                                            </tr>
                                          <% }); %>
                                    <% } else if (locals.results) { %>
                                        <% results.forEach(item => { %>
                                            <tr>
                                                <td>
                                                    <%= item.product_name %>
                                                </td>
                                                <td>
                                                    <%= item.product_key %>
                                                </td>
                                                <td>
                                                    <%= item.category %>
                                                </td>
                                                <td>
                                                    <%= item.specification %>
                                                </td>
                                                <td>
                                                    <%= item.createdAt %>
                                                </td>
                                            </tr>
                                        <% }); }%>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- =========== Scripts =========  -->
    <script src="/assets/main.js"></script>

    <!-- ====== ionicons ======= -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</body>

</html>