<%- include('partials/header_2.ejs') %>
  <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div
      class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h2 class="h2">Orders</h2>
      <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group me-2">
          <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
          <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
        </div>
        <a type="button" href="/get_data/weekly-pdf-report"
          class="btn btn-sm btn-outline-secondary d-flex align-items-center gap-1">
          <!-- <i class="bi bi-file-earmark-arrow-down-fill"></i> -->
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
            class="bi bi-file-earmark-arrow-down" viewBox="0 0 16 16">
            <path
              d="M8.5 6.5a.5.5 0 0 0-1 0v3.793L6.354 9.146a.5.5 0 1 0-.708.708l2 2a.5.5 0 0 0 .708 0l2-2a.5.5 0 0 0-.708-.708L8.5 10.293z" />
            <path
              d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2M9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5z" />
          </svg>
          Download
        </a>
      </div>
    </div>

    <%if(locals.count !==undefined && locals.count> 0){%>
      <div class="table-responsive small">
        <h5 class="h5">Pending Orders: <%if(locals.count !==undefined && locals.count> 0){%>
            <%=count%>
              <%}%>
        </h5>
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Product ID</th>
              <th scope="col">Category</th>
              <th scope="col">Specification</th>
              <th scope="col">Department</th>
              <%if(locals.role){%>
                <th scope="col">Actions</th>
                <%} else {%>
                  <th scope="col">Status</th>
                  <% } %>
            </tr>
          </thead>
          <tbody>
            <tr>
              <% if(locals.data){ %>
                <% data.forEach(item=> { %>
                  <td>
                    <%=item.product_name %>
                  </td>
                  <td>
                    <%=item.product_key %>
                  </td>
                  <td>
                    <%=item.category %>
                  </td>
                  <td>
                    <%=item.specification %>
                  </td>
                  <td>
                    <%= item.department %>
                  </td>
                  <%if(locals.role){%>
                    <td class="d-flex">
                      <!-- Add Accept and Decline buttons -->
                      <form method="POST" action="/approve_product/<%= item._id%>">
                        <button type="submit" class="btn btn-success btn-sm me-2">Accept</button>
                      </form>
                      <form method="POST" action="/decline_product/<%= item._id %>">
                        <a type="submit" class="btn btn-danger btn-sm">Decline</a>
                      </form>
                    </td>
                    <%} else {%>
                      <td>
                        <% if (item.isApproved) { %>
                          <span class="btn btn-success btn-sm">Approved</span>
                          <% } else { %>
                            <span class="btn btn-danger btn-sm">Pending</span>
                            <% } %>
                      </td>
                      <%}%>
            </tr>
            <% }); %>
              <% } %>
          </tbody>
        </table>
      </div>
      <%} else {%>
        <h5 class="h5">No Pending Orders</h5>
        <br>
        <% } %>

          <% if(locals.role){ %>
            <div class="table-responsive small">
              <h5 class="h5">Total Orders: <%if(locals.countForApprovedData !==undefined && locals.countForApprovedData>
                  0){%>
                  <%=countForApprovedData%>
                    <%} else { %>
                      No Orders
                      <%}%>
              </h5>
              <table class="table table-striped table-sm">
                <thead>
                  <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Product ID</th>
                    <th scope="col">Category</th>
                    <th scope="col">Specification</th>
                    <th scope="col">Department</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <% if(locals.approvedData){ %>
                      <% approvedData.forEach(item=> { %>
                        <td>
                          <%=item.product_name %>
                        </td>
                        <td>
                          <%=item.product_key %>
                        </td>
                        <td>
                          <%=item.category %>
                        </td>
                        <td>
                          <%=item.specification %>
                        </td>
                        <td>
                          <%= item.department %>
                        </td>
                  </tr>
                  <% }); %>
                    <% } %>
                </tbody>
              </table>
            </div>
            <%}%>
  </main>
  </div>
  </div>
  <script>
    let change = document.querySelector("#toggleButton");
    let change_icon1 = document.querySelector("#sunny");
    let change_icon2 = document.querySelector("#moon");

    function changeTheme() {
      let element = document.body;
      element.dataset.bsTheme = element.dataset.bsTheme == "light" ? "dark" : "light";
      localStorage.setItem('theme', element.dataset.bsTheme); // Save the current theme in localStorage
    }

    // Load the theme from localStorage when the page loads
    document.addEventListener("DOMContentLoaded", () => {
      let storedTheme = localStorage.getItem('theme');
      if (storedTheme) {
        document.body.dataset.bsTheme = storedTheme;
        if (storedTheme !== "light") {
          change_icon1.classList.add("change_icon");
          change_icon2.classList.remove("change_icon");
          change.classList.add("on");
        } else {
          change_icon1.classList.remove("change_icon");
          change_icon2.classList.add("change_icon");
          change.classList.remove("on");
        }
      }
    });

    change.addEventListener("click", () => {

      changeTheme();

      if (document.body.getAttribute("data-bs-theme") !== "light") {
        change_icon1.classList.add("change_icon");
        change_icon2.classList.remove("change_icon");
        change.classList.add("on");
      } else {
        change_icon1.classList.remove("change_icon");
        change_icon2.classList.add("change_icon");
        change.classList.remove("on");
      }
    });

    $(window).on('scroll', function () {

      if ($('body').scrollTop() >= $('.navbar').position().top) {
        $('.navbar').css("margin", "5px");
        $('.navbar').css("border-radius", "10px");
      } else {
        $('.navbar').css("margin", "0px");
        $('.navbar').css("border-radius", "0px");
      }
    });

  </script>

  </html>