<%- include('partials/header.ejs') %>
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div
            class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h2 class="h2">Orders</h2>
        </div>

        <div class="table-responsive small">
            <h5 class="h5">Related Orders: <%if(locals.count !==undefined && locals.count> 0){%>
                    <%=count%>
                        <%} else {%>
                            0 <br><br> No orders found
                            <%}%>
            </h5>
            <% if(locals.count> 0){%>
                <table class="table table-striped table-sm">
                    <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Product ID</th>
                            <th scope="col">Category</th>
                            <th scope="col">Specification</th>
                            <th scope="col">Department</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% if(locals.results){ %>
                            <% results.forEach(item=> { %>
                                <tr>
                                    <td>
                                        <%=item.product_name %>
                                    </td>
                                    <td>
                                        <%=item.product_key %>
                                    </td>
                                    <td>
                                        <%=item.category %>
                                    </td>
                                    <td>
                                        <%=item.specification %>
                                    </td>
                                    <td>
                                        <%= item.department %>
                                    </td>
                                </tr>
                                <% }) %>
                                    <% } %>
                                        <%} %>
                    </tbody>
                </table>
        </div>
    </main>
    </div>
    </div>
    <script>

        $(window).on('scroll', function () {

            if ($('body').scrollTop() >= $('.navbar').position().top) {
                $('.navbar').css("margin", "5px");
                $('.navbar').css("border-radius", "10px");
            } else {
                $('.navbar').css("margin", "0px");
                $('.navbar').css("border-radius", "0px");
            }
        });

    </script>
    <script src="/assets/theme.js"></script>

    </html>